<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2010-2011</p>
                    <div class="h5">DIPLOMA</div>
                    </div>    
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Diploma in DotNet Technologies</div>
                        <h4 class="category">NIIT, Bangalore</h4>
                        <ul>
                                <li>Completed  <b>Diploma</b> in <b>Dotnet technology</b> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2006-2010</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Technology</div>
                                <h4 class="category">MBC College of Engineering</h4>
                                <ul>
                                    <li> MBC College of Engineering(Affilated to MGU) <b>ranks 1st</b> in Kerala </li>
                                        <li>Completed BTech in Computer Engineering with <b>62%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2009</p>
                        <div class="h5">Secondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Secondary School(KSEEB)</div>
                                <h4 class="category">Kristu Jyothi Higher Secondary School Kerala</h4>
                                <ul>
                                        <li>Completed  SSLC with <b>83%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               